<section id="home">
  <div class="fondo">
    <div class="container col-9">
      <div class="contenedor">
        <div class="row imagen">
          <img id="foto" src="../../../assets/img/foto.jpg" alt="" width="250px">
        </div>
      </div>

      <div class="row">
        <p>HI! I AM IVAN,</p>
      </div>
      <div class="row">
        <p><span class="typed"></span> developer.</p>
      </div>
      <div class="row">
        <p>I consider myself a respectful, organized, responsible person who likes to work in a team. I really enjoy
          programming, especially if there are challenges to overcome.</p>
      </div>

    </div>
  </div>
</section>
