<section id="competencias">
  <div class="container col-9">
    <div class="row" style="margin-bottom: 50px;">
      <h1><b><u>SKILLS</u></b></h1>
    </div>
    <div class="row">
      <img src="../../../assets/img/html5.png" alt="" width="150px">
      <img src="../../../assets/img/javascript.png" alt="" width="110px">
      <img src="../../../assets/img/css3.png" alt="" width="110px">
      <img src="../../../assets/img/VueJS.png" alt="" width="150px">
    </div>
    <div class="row">
      <img src="../../../assets/img/php.png" alt="" width="150px">
      <img src="../../../assets/img/laravel.png" alt="" width="210px">
      <img src="../../../assets/img/angular.png" alt="" width="150px">
      <img src="../../../assets/img/ionic.png" alt="" width="150px">
    </div>
    <div class="row">
      <img src="../../../assets/img/bootstrap.png" alt="" width="150px">
      <img src="../../../assets/img/Json.png" alt="" width="150px">
      <img src="../../../assets/img/VSC.png" alt="" width="140px">
      <img src="../../../assets/img/sass.png" alt="" width="150px">
    </div>
    <div class="row">
      <img src="../../../assets/img/csharp.png" alt="" width="130px">
      <img src="../../../assets/img/android.svg" alt="" width="130px">
      <img src="../../../assets/img/asp.net_.logo_.png" alt="" width="190px">
      <img src="../../../assets/img/github.logo.png" alt="" width="150px">
    </div>
    <div class="row">
      <img src="../../../assets/img/mysql-logo-300x158.png" alt="" width="150px">
      <img src="../../../assets/img/d3.png" alt="" width="130px">
      <img src="../../../assets/img/java.png" alt="" width="120px">
      <img src="../../../assets/img/C++.png" alt="" width="130px">
    </div>
  </div>
</section>
