<section id="projects">
  <div class="container col-9">
    <div class="row" style="margin-bottom: 30px;">
      <h1><b><u>PROJECTS</u></b></h1>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row">
          <img src="../../../assets/img/mnactec-logo2.png" alt="" style="margin-left: 45%;">
        </div>
        <div class="row">
          <p>Android question game developed for the mNACTEC museum set to be played in the exhibition area about space and C# Application designed for managing characters and game questions through JSON files</p>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <iframe src="https://www.youtube.com/embed/6sx4PwbVpAo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row">
          <iframe src="https://www.youtube.com/embed/5yC7mYjmU3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <hr style="border-color:black;">

    <div class="row">
      <div class="col-5">
        <div class="row">
          <img src="../../../assets/img/crysallis.png" alt="">
        </div>
        <div class="row">
          <p>Android application designed for the Crysallis association at the state level so that users can sign up for them and be informed of all the events that are created. C # application with API and database on server so that managers can manage both users and events</p>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <iframe src="https://www.youtube.com/embed/t73FkZGO0tg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row">
          <iframe src="https://www.youtube.com/embed/fV9JEe_GZ8g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <hr style="border-color:black;">

    <div class="row">
      <div class="col-5">
        <div class="row">
          <img src="../../../assets/img/personaje-5.png.png" alt="" width="150">
        </div>
        <div class="row">
          <p>Game developed with javascript with pixel design in which the character moves laterally collecting fruit, with sounds and effects to the crash</p>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <iframe src="https://www.youtube.com/embed/naG6q6IX0tk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <hr style="border-color:black;">

    <div class="row">
      <div class="col-5">
        <div class="row">
          <img src="../../../assets/img/cepsem.svg" alt="" width="300">
        </div>
        <div class="row">
          <p>It is a simulator of telephone incidents such as the current 061 or 112 for the students of the CFGM of sanitary emergencies of the Moisès Broggi institute to carry out the learning. Development with Laravel and Vue</p>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <iframe src="https://www.youtube.com/embed/2SaQZfOl05s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
